$black: #5F4F45;
$white: #FFFFFF;
$milky: #F6F4EF;
$dark-milky: #EEEBE2;
$back: #fcfcfc;
$dark-brown: #827058;
$brown: #B8A58A;
$orange: #FFD56A;
$light-orange: #FCC865;
$blue: #0077FF;
$red: #FF0000;


// media
$large-desktop: 1440px;
$small-desktop: 1280px;

$large-tablet: 1024px;
$small-tablet: 778px;

$large-mobile: 580px;
$small-mobile: 360px;
$tiny-mobile: 320px;