$black: #5F4F45;
$white: #FFFFFF;
$milky: #F6F4EF;
$dark-milky: #EEEBE2;
$light-milky: #FDFCFC;
$back: #fcfcfc;
$dark-brown: #827058;
$brown: #B8A58A;
$orange: #FFD56A;
$light-orange: #FCC865;
$blue: #0077FF;
$red: #FF0000;
$gray: #BAAAA0;

// media
$large-desktop: 1600px;
$small-desktop: 1440px;

$large-tablet: 1024px;
$medium-tablet: 998px;
$small-tablet: 778px;

$large-mobile: 580px;
$small-mobile: 360px;