.main {
  text-align: center;
  padding-top: 19.5rem;
  padding-bottom: 6.4rem;
  background: $milky;

  &__title {
    line-height: 100%;
  }

  &__img {
    width: 100%;
    max-width: 94.2rem;
    height: auto;
    margin: 3rem auto 0;
  }

  &__swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slider {
    max-width: 94.2rem;
    margin-top: -3.9rem;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $black;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      background: $black;
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      margin-right: .6rem;
    }
  }
}

.main-description {
  background: $brown;
  color: $white;
  padding: 2rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: -1.5rem 0;
  }

  &__item {
    display: flex;
    margin: 1.5rem 0;

    &:nth-child(3) {
      .main-description__text {
        max-width: 26rem;
      }
    }
  }

  &__svg {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 1.4rem;
  }

  &__text {
    max-width: 27.5rem;
  }
}

.recommendations {
  padding-top: 4rem;

  &__wrapper {
    background: $milky;
    border-radius: 2rem;
    padding: 7.4rem 16.5rem 8rem 14.7rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-align: left;
  }

  &__texts {
    margin-right: 2rem;
  }

  &__caption {
    margin-top: 2rem;
    max-width: 48.6rem;
  }

  &__logo {
    width: 32.5rem;
    height: 7.2rem;
  }

  &-video {
    &__link {
      width: 100%;
      height: 56rem;
      position: relative;
      margin: 5.6rem 0 2.1rem;
      display: block;
    }
  }

  &-slider {
    position: relative;

    &__slider {
      height: 21.9rem;
    }

    &__img {
      cursor: pointer;
    }

    .swiper-button-disabled {
      opacity: 0.8;
    }

    &__pagination {
      display: none;
    }

    &__btn {
      position: absolute;
      top: 30%;
      z-index: 9;
      cursor: pointer;

      &-prev {
        transform: rotate(180deg);
        right: auto;
        left: -8rem;
      }

      &-next {
        left: auto;
        right: -8rem;
      }
    }
  }
}

.why {
  padding-top: 16rem;
  position: relative;

  &__title {
    max-width: 68.4rem;
  }

  &__row {
    margin-top: 8rem;
    background: $milky;
    border-radius: 3rem;
    display: flex;
    align-items: center;
  }

  &__list {
    padding-left: 6rem;
  }

  &__item {
    margin-bottom: 4.9rem;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(3) {
      .why__icon {
        width: 3.3rem;
        height: 3.3rem;
      }
    }

    &:nth-child(4) {
      .why__icon {
        width: 2.6rem;
        height: 3.2rem;
      }
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1.7rem;
  }

  &__text {
    max-width: 22.5rem;
  }

  &__img {
    width: auto;
    height: 54.0rem;
    position: absolute;
    bottom: 0;
    right: 0;

    &-preview {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    position: relative;
    width: 76.8rem;
    height: 43.4rem;
  }
}

.goods {
  padding: 18rem 0;

  &__title {
    margin-bottom: 8rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 32rem);
    justify-content: space-between;
    margin: -1rem 0 0;
    border-radius: 3rem;
    overflow: hidden;
  }

  &__column {
    padding: 1rem 0 0;
    min-height: 24.6rem;

    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      padding-top: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      min-height: 23.6rem;
    }

    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 3;

      .goods__img {
        width: 32rem;
        height: 29rem;
        top: 5.7rem;
        right: 0;
      }
    }

    &:nth-child(3) {
      .goods__block {
        justify-content: end;
      }

      .goods__img {
        width: auto;
        height: 20.6rem;
        top: 2.4rem;
        right: 14.5rem;
      }
    }

    &:nth-child(4) {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;

      .goods__block {
        justify-content: center;
      }

      .goods__img {
        width: 24.6rem;
        height: 67.6rem;
        right: 3.8rem;
      }
    }

    &:nth-child(5) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;

      .goods__block {
        justify-content: end;
      }

      .goods__img {
        width: 39.2rem;
        height: 23.6rem;
        right: 25.8rem;
      }
    }

    &:nth-child(6) {
      .goods__img {
        width: 19.7rem;
        height: 21.2rem;
        right: 0;
      }
    }

    &:nth-child(7) {
      .goods__img {
        width: 21.6rem;
        height: 21.9rem;
        right: 0;
      }
    }

    &:nth-child(8) {
      .goods__block {
        justify-content: end;
      }

      .goods__img {
        width: 16.4rem;
        height: 21.1rem;
        right: 15.6rem;
      }
    }
  }

  &__block {
    background: $milky;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    overflow: hidden;
  }

  &__subtitle {
    padding: 2rem;
    line-height: 100%;
  }

  &__img {
    position: absolute;
    width: 23.3rem;
    height: auto;
    top: 0;
    right: -3.5px;
  }
}

.usage {
  padding: 8rem 0 3.2rem;
  background: $milky;
  min-height: 114.6rem;

  &-tab {
    &__tabs {
      display: flex;
      width: fit-content;
      margin: 6rem auto;
    }

    &__tab {
      margin: 0 2.5rem;
      line-height: 100%;
      position: relative;
      cursor: pointer;

      &:after {
        display: block;
        content: "";
        background-color: $orange;
        height: 2px;
        width: 0%;
        left: 50%;
        bottom: -.7rem;
        position: absolute;
        transition: width 0.3s ease-in-out;
        transform: translateX(-50%);
      }

      &.active {
        color: $orange;
        text-shadow: 0 0 .6px $orange, 0 0 .6px $orange;

        &:after {
          width: 100%;
        }
      }
    }

    &__wrapper {
      position: relative;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }

    &-button {
      background: rgba(252, 199, 101, 0.7);
      border-radius: 1rem;
      padding: 1.2rem;
      border: none;
      font-weight: 500;
      text-align: center;
      color: $white;
      box-shadow: 0 0 0 2.5rem rgba(252, 199, 101, 0.3);
      animation: pulse 2s infinite;
      position: absolute;

      &__svg {
        height: 2.3rem;
        width: 2.8rem;
        margin: 0 auto 1rem;
      }
    }

    &__block {
      &_first {
        .usage-tab {
          &__img {
            width: 95.3rem;
            height: 74.5rem;
          }

          &-button {
            &:nth-child(1) {
              top: 9.2rem;
              right: 37.8rem;
            }

            &:nth-child(2) {
              top: 9rem;
              right: 20rem;
            }

            &:nth-child(3) {
              top: 33rem;
              left: 16rem;
            }

            &:nth-child(4) {
              top: 37rem;
              left: 34rem;
            }

            &:nth-child(5) {
              top: 46.5rem;
              right: 35.5rem;
            }

            &:nth-child(6) {
              top: 51.5rem;
              left: 10.3rem;
            }
          }
        }
      }

      &_second {
        .usage-tab {
          &__img {
            width: 90.6rem;
            height: 56.3rem;
          }

          &-button {
            max-width: 13rem;
            padding-left: 2px;
            padding-right: 2px;

            &:nth-child(1) {
              top: 0.8rem;
              right: 39rem;
            }

            &:nth-child(2) {
              top: 12rem;
              left: 23rem;
            }

            &:nth-child(3) {
              top: 11rem;
              right: 10rem;
            }

            &:nth-child(4) {
              top: 18rem;
              left: 35rem;
            }

            &:nth-child(5) {
              top: 29rem;
              left: 8rem;
            }

            &:nth-child(6) {
              top: 23.5rem;
              left: 22.3rem;
            }

            &:nth-child(7) {
              top: 27rem;
              right: 32rem;
            }

            &:nth-child(8) {
              top: 25.5rem;
              right: 18rem;
            }

            &:nth-child(9) {
              top: 29rem;
              right: 4rem;
            }

            &:nth-child(10) {
              top: 37rem;
              right: -8rem;
            }

            &:nth-child(11) {
              top: 36rem;
              left: 29rem;
            }

            &:nth-child(12) {
              top: 48rem;
              right: 27rem;
            }

            &:nth-child(13) {
              top: 48rem;
              left: 15rem;
            }

            &:nth-child(14) {
              top: 50rem;
              left: 29rem;
            }
          }
        }
      }

      &_third {
        .usage-tab {
          &__img {
            width: 84.1rem;
            height: 71.8rem;
          }

          &-button {
            &:nth-child(1) {
              top: 37.5rem;
              left: 5rem;
            }

            &:nth-child(2) {
              top: 46rem;
              left: 23rem;
            }

            &:nth-child(3) {
              top: 36.5rem;
              right: 34.5rem;
            }
          }
        }
      }
    }
  }

  &-accordion {
    display: none;

    &__item {
      margin-bottom: 0.8rem;
      background: $milky;
      border-radius: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__head {
      height: 7.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.4rem 1.4rem 2.5rem;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;

      &.active {
        .usage-accordion {
          &__icon {
            &_vertical {
              transition: all 0.5s ease-in-out;
              transform: rotate(90deg);
            }

            &_horizontal {
              transition: all 0.5s ease-in-out;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
    }

    &__count {
      color: $brown;
    }

    &__subtitle {
      text-align: center;
      margin: 0 1rem;
    }

    &__icon {
      border: 2px solid $orange;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      cursor: pointer;
      position: relative;

      &_horizontal, &_vertical {
        background: $orange;
        position: absolute;
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
      }

      &_horizontal {
        width: 8px;
        height: 2px;
        top: 8px;
        left: 5px;
      }

      &_vertical {
        width: 2px;
        height: 8px;
        top: 5px;
        left: 8px;
      }
    }

    &-body {
      padding: 2rem;
      display: none;

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: -1rem;
      }

      &__item {
        padding: 1rem;
        font-weight: 500;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
      }

      &__img {
        width: auto;
        height: auto;
        max-width: 2.8rem;
        max-height: 2.8rem;
        margin: 0 auto 1.5rem;
      }
    }
  }
}

.whom {
  padding: 18rem 0;

  &__title {
    max-width: 66rem;
  }

  &-tab {
    &__tabs {
      margin-top: 8rem;
      margin-bottom: 8.7rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 8.7rem;
      background: $milky;
      border: 1px solid $light-orange;
      border-radius: 1rem;
      color: $light-orange;
      line-height: 120%;
    }

    &__tab {
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 8rem;
      transition: 0.3s;
      cursor: pointer;

      &.active {
        background: $orange;
        box-shadow: 0px 0px 2.4rem $orange;
        color: $white;
        text-shadow: 0 0 0.8px $white, 0 0 0.8px $white;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-auto-rows: minmax(14.4rem, auto);
      justify-content: space-between;
      margin-bottom: -6rem;
    }

    &__item {
      margin-bottom: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    &__svg {
      max-width: 7.5rem;
      max-height: 7.5rem;
      margin: 0 auto 2rem;
    }

    &__text {
      max-width: 26.8rem;
      text-align: center;

      &_big {
        max-width: 30rem;
        text-align: center;
      }

      &_small {
        max-width: 23.3rem;
      }
    }
  }
}

.cooperation {
  &__wrapper {
    background: $milky;
    border-radius: 3rem;
    padding: 8rem 11rem;
  }

  &__title {
    max-width: 79.6rem;
  }

  &__row {
    margin: 13rem -2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__column {
    padding: 0 2rem;
  }

  &__subtitle {
    max-width: 32.9rem;
  }

  &__block {
    background: $brown;
    border-radius: 5px;
    max-width: 21rem;
    padding: 1.3rem 2.3rem;
    margin-top: 4rem;
    margin-bottom: 6.2rem;
    color: $white;
  }

  &__list {
    max-width: 39.9rem;
  }

  &__item {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__svg {
    &_big {
      margin-bottom: 1.5rem;
      max-width: 3.8rem;
      max-height: 3.8rem;
    }

    &_small {
      width: 2rem;
      height: 2rem;
    }
  }

  &__card {
    border: 1px solid $light-orange;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  &__head {
    text-align: center;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-orange;
    padding-top: 4.9rem;
    padding-bottom: 3.8rem;
  }

  &__body {
    padding: 4rem 5rem;
    border-bottom: 1px solid $light-orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    &_small {
      margin: 1.1rem 0;
    }

    &_bold {
      max-width: 32.5rem;
      margin: auto;
      font-weight: 500;
    }

    &_tiny, .cooperation__link {
      font-size: 1.4rem;
      color: $brown;
    }
  }

  &__price {
    line-height: 100%;
    color: $light-orange;
    text-transform: none;
  }

  &__footer {
    padding: 4.2rem 5rem 2.5rem;
  }

  &__btn {
    margin: 3.9rem auto;
  }
}

.delivery {
  padding-top: 14rem;
  padding-bottom: 20rem;

  &__wrapper {
    background: $milky;
    border-radius: 3rem;
    padding: 8rem 0 0;
    overflow: hidden;
  }

  &__caption {
    margin: 1.8rem auto 0;
    max-width: 64rem;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 28.6rem);
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 6.9rem;
    padding: 0 7.3rem 0 7.1rem;
  }

  &__svg {
    width: 5rem;
    height: 5rem;
  }

  &__subtitle {
    margin: 2.2rem 0;
  }

  &__text {
    display: flex;
    align-items: center;
    line-height: 150%;

    &:before {
      content: '';
      width: .7rem;
      height: .7rem;
      background: $black;
      margin-right: 1rem;
      border-radius: 50%;
    }

    &_light-brown {
      padding-left: 1.7rem;
    }
  }

  &-footer {
    background: $brown;
    color: $white;
    padding: 3.1rem 7.1rem;

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 28.6rem);
      justify-content: space-between;
    }

    &__item {
      max-width: 20.7rem;

      &:nth-child(3) {
        max-width: 19rem;
      }
    }
  }
}

.videos {
  &__title {
    margin-bottom: 10rem;
  }

  &__slider {
    margin: -.5rem;
  }

  &__block {
    padding: .5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__pagination {
    display: none;
  }

  &__slide {
    width: 100% !important;
    height: 100%;
    overflow: hidden;

    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30rem;
  }

  &__btn {
    border-radius: 5px;
    height: 4.2rem;
    width: 7.2rem;
  }
}

.questions {
  padding-top: 18rem;
  padding-bottom: 14rem;

  &__wrapper {
    background: $milky;
    border-radius: 3rem;
    padding: 8rem 10.9rem 8.3rem 11rem;
    overflow: hidden;
  }

  &__title {
    max-width: 100%;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 12rem;
  }

  &__item {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin-bottom: 1.2rem;
  }

  &__link {
    line-height: 120%;
    color: $light-orange;
    display: block;
    max-width: 44rem;
  }

  &-form {
    border: 1px solid $light-orange;
    border-radius: 2rem;

    &__head {
      background: $light-orange;
      border-radius: 2rem;
      padding: 5rem;
      color: $white;
      text-align: center;
    }

    &__subtitle {
      max-width: 33.9rem;
    }

    &__body {
      padding: 6.3rem 3.1rem 5.5rem;
    }

    &__btn {
      max-width: 100%;
      height: 6rem;
    }

    &__input {
      margin-bottom: 6.2rem;
    }

    &-check {
      &__row {
        height: 5.5rem;
        background: $dark-milky;
        border-radius: 5rem;
        margin-bottom: 5.6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      &__label {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon {
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 1rem;
      }

      &__input {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 100%;

        &:checked + .questions-form-check__box {
          background: $orange;
        }

        &:focus + .questions-form-check__box {
          box-shadow: 0 0 0 0.1em $orange;
        }
      }

      &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        padding: 0 2.5rem;
      }
    }
  }
}

@media only screen and (max-width: $large-desktop) {
  .why {
    &__img {
      height: 32rem;
    }
  }
}

@media only screen and (max-width: $medium-tablet) {
  .main-description {
    &__text {
      max-width: 26rem;
    }
  }

  .recommendations {
    &__wrapper {
      border-radius: 5px;
      padding: 6rem 5rem 3rem;
    }

    &-video {
      &__link {
        height: 48rem;
      }
    }

    &-slider {
      &__pagination {
        display: block;
        position: static;
        margin-top: 2rem;
      }

      &__btn {
        display: none;
      }
    }
  }

  .why {
    &__row {
      flex-direction: column;
    }

    &__link {
      width: 100%;
      height: 58rem;
    }

    &__img {
      display: none;
    }

    &__list {
      padding: 3.2rem 4.1rem 2.6rem;
      width: 100%;
    }

    &__text {
      max-width: 100%;
    }
  }

  .goods {
    &__grid {
      grid-template-columns: repeat(4, 22.6rem);
    }

    &__column {
      min-height: 28rem;

      &:nth-child(3) .goods__img {
        width: auto;
        height: 20.6rem;
        top: -3rem;
        right: 7rem;
      }

      &:nth-child(8) .goods__img {
        right: 8rem;
        top: -1rem;
      }

      &:nth-child(4) .goods__img {
        width: 22rem;
        height: 67rem;
        right: 0.5rem;
      }
    }
  }

  .delivery {
    &__row {
      grid-template-columns: repeat(3, 28rem);
      padding: 0 3rem;
    }
  }

  .usage {
    &-tab {
      &__block {
        &_second {
          .usage-tab-button:nth-child(10) {
            top: 40rem;
            right: 1rem;
          }
        }
      }
    }
  }

  .questions {
    &__row {
      grid-template-columns: 1fr;
    }

    &-form {
      margin-top: 5.8rem;

      &__subtitle {
        margin: auto;
      }
    }
  }

  .cooperation {
    background: $milky;
    padding: 6rem 0;
    text-align: center;

    &__wrapper {
      border-radius: 0;
      padding: 0;
    }

    &__row {
      margin: 4rem 0 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    &__column {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
    }

    &__subtitle {
      max-width: 32rem;
      font-size: 1.6rem;
      text-align: center;
    }

    &__block {
      margin-top: 2rem;
      margin-bottom: 6rem;
      font-size: 1.8rem;
    }

    &__card {
      border-radius: 5px;
      margin-bottom: 6rem;
    }

    &__head {
      padding-top: 4.6rem;
      padding-bottom: 4.1rem;
    }

    &__body {
      padding: 4rem 1.3rem;
      border-bottom: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__text {
      max-width: 32rem;

      &_small {
        margin: 1.1rem 0 .8rem;
      }

      &_bold {
        max-width: 24.8rem;
      }

      &_tiny, .cooperation__link {
        max-width: 21.2rem;
        display: block;
        margin: auto;
      }
    }

    &__price {
      font-size: 1.8rem;
    }

    &__footer {
      padding: 0 4rem 2.1rem;
    }

    &__btn {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    &__svg {
      &_big {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .whom {
    padding: 12rem 0;

    &-tab {
      &__list {
        grid-template-columns: repeat(2, 1fr);
      }

      &__text {
        margin: auto;
      }

      &__tabs {
        margin: 4rem 0;
        font-size: 1.6rem;
        line-height: 100%;
        background: transparent;
        display: block;
        height: auto;
        border: none;
      }

      &__tab {
        height: 7.2rem;
        background: $milky;
        border: 1px solid $orange;
        border-radius: 5px;
        text-align: center;
        margin-bottom: .8rem;
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__svg {
        max-width: 6.9rem;
        max-height: 6.9rem;
      }

      &__text, &_small {
        max-width: 23.3rem;

        &_small {
          max-width: 20rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $small-tablet) {
  .main {
    padding: 12.2rem 0 4.1rem;

    &__slider {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    &__title {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }

    &__img {
      margin-top: 1.4rem;
    }

    &__slider {
      margin-top: 1rem;
    }

    &__subtitle {
      font-size: 1.4rem;
      line-height: 1.7rem;

      &:before {
        margin-right: .5rem;
      }
    }
  }

  .main-description {
    background: $brown;
    padding: 0;

    &__list {
      grid-template-columns: 1fr;
      background: $brown;
      padding: 3.5rem 1.6rem;
      border-radius: 5px;
    }

    &__item {
      &:nth-child(3) {
        .main-description__text {
          max-width: 100%;
        }
      }
    }

    &__svg {
      margin-right: .7rem;
    }

    &__text {
      max-width: 100%;
    }
  }

  .recommendations {
    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
    }

    &__caption {
      text-align: center;
      margin: 2.2rem 0 4rem;
    }

    &-video {
      &__link {
        height: 38rem;
      }
    }

    &-slider {
      &__slider {
        height: 18rem;
      }
    }
  }

  .why {
    &__link {
      height: 42rem;
    }
  }

  .goods {
    padding: 11rem 0;

    &__title {
      margin-bottom: 4rem;
    }

    &__grid {
      grid-template-columns: 1fr;
      margin: 0;
      border-radius: 0;
    }

    &__column {
      padding: 0;
      min-height: 100%;
      margin-bottom: .8rem;

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
        height: 7.6rem;
        max-height: 100%;
        min-height: 0;

        .goods__block {
          justify-content: center;
          align-items: center;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      font-size: 1.6rem;
    }

    &__img {
      display: none;
    }
  }

  .whom {
    &-tab {
      &__list {
        grid-template-columns: 1fr;
        justify-content: center;
      }

      &__text {
        margin: auto;
      }
    }
  }

  .usage {
    padding: 0;
    background: transparent;
    min-height: 0;

    &-tab {
      &__tabs {
        margin: 3rem -1rem;
        justify-content: center;
        width: 100%;
      }

      &__tab {
        font-size: 1.4rem;
        margin: 1rem;

        &:after {
          bottom: -.5rem;
        }
      }

      &__wrapper {
        display: none;
      }
    }

    &-accordion {
      display: block;
    }
  }

  .cooperation {
    &__wrapper {
      padding: 8rem 4rem;
    }
  }

  .delivery {
    &__row {
      grid-template-columns: 1fr;
    }

    &__column {
      margin-bottom: 4.8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-footer {
      border-radius: 5px;
      padding: 3.7rem 6.7rem;

      &__list {
        grid-template-columns: 1fr;
        width: fit-content;
        margin: auto;
      }

      &__item {
        max-width: 18.8rem;
        text-align: center;
        margin-bottom: 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:before {
          content: '';
          margin-bottom: 1rem;
          width: .6rem;
          height: .6rem;
          background: $white;
          border-radius: 50%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $large-mobile) {
  .recommendations {
    &__wrapper {
      padding: 6rem 1.6rem 2.6rem;
    }

    &__texts {
      margin-right: 0;
    }

    &__logo {
      max-width: 27.1rem;
      width: 100%;
      height: auto;
      max-height: 5.1rem;
    }

    &-video {
      &__link {
        margin: 4rem 0;
        height: 25rem;
      }
    }

    &-slider {
      &__slider {
        height: 28rem;
      }
    }
  }

  .why {
    padding-top: 8rem;
    position: relative;

    &__title {
      max-width: 32rem;
    }

    &__row {
      margin-top: 4rem;
      border-radius: 0;
    }

    &__item {
      margin-bottom: 2.1rem;

      &:nth-child(3) {
        .why__icon {
          width: 2.2rem;
          height: 2.2rem;
        }
      }

      &:nth-child(4) {
        .why__icon {
          width: 1.8rem;
          height: 2.6rem;
        }
      }
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      margin-right: 1.1rem;
    }

    &__text {
      max-width: 22.5rem;
    }

    &__img {
      width: auto;
      height: 54.0rem;
      position: absolute;
      bottom: 0;
      right: 0;

      &-preview {
        width: 100%;
        height: 100%;
      }
    }

    &__link {
      width: 100%;
      height: auto;
    }

    &__text {
      max-width: 100%;
    }
  }

  .cooperation {
    &__title {
      max-width: 32rem;
    }
  }

  .whom {

    &__title {
      max-width: 32rem;
    }
  }

  .delivery {
    padding-top: 14rem;
    padding-bottom: 6rem;
    background: $milky;

    &__wrapper {
      border-radius: 0;
      padding: 0;
    }

    &__caption {
      margin-top: 1.4rem;
      max-width: 30.6rem;
      font-size: 1.6rem;
      line-height: 120%;
      text-transform: none;
      font-weight: 500;
    }

    &__row {
      margin-top: 6rem;
      margin-bottom: 6.8rem;
      padding: 0;
    }

    &__subtitle {
      margin: 2rem 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
    }

  }

  .videos {
    padding: 10rem 0 12rem;

    &__title {
      margin-bottom: 4rem;
    }

    &__slider {
      margin: 0;
    }

    &__slide {
      padding: 0;
    }

    &__wrapper {
      display: flex;
      height: 28rem;
    }

    &__pagination {
      display: block;
      position: static;
      margin-top: 1rem;
    }
  }

  .questions {
    padding: 6rem 0 4rem;
    background: $milky;

    &__wrapper {
      padding: 0;
      overflow: inherit;
    }

    &__row {
      grid-template-columns: 1fr;
      margin-top: 6.1rem;
    }

    &__item {
      margin-bottom: 5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      margin-bottom: .8rem;

      &_bold {
        font-size: 1.8rem;
      }
    }

    &__link {
      font-size: 1.6rem;
    }

    &-form {

      &__head {
        padding: 4rem 3.5rem;
      }

      &__subtitle {
        max-width: 100%;
      }

      &__body {
        padding: 6rem 1.2rem 4rem;
      }

      &__input {
        margin-bottom: 3rem;
      }

      &-check {
        &__row {
          margin: 1.9rem -.3rem 4rem;
          display: flex;
          justify-content: space-between;
          background: transparent;
          flex-wrap: wrap;
          height: auto;
        }

        &__label {
          height: 5.5rem;
          background: $dark-milky;
          border-radius: 5rem;
          margin-bottom: .8rem;
          width: fit-content;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__icon {
          margin-right: .5rem;
        }

        &__box {
          padding: 0 1.2rem;
          margin: .5rem .3rem;
        }
      }
    }
  }

}

@media only screen and (max-width: $small-mobile) {
  .recommendations {
    margin-left: -2rem;
    margin-right: -2rem;
    &-video {
      &__link {
        height: 16rem;
      }
    }

    &-slider {
      &__slider {
        height: 18rem;
      }
    }
  }
  .usage {
    &-tab {
      &__tabs {
        flex-wrap: wrap;
      }
    }
  }
  .whom {
    &-tab {
      &__tab {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
  .cooperation {
    &__wrapper {
      padding: 4rem 0 0;
    }

    &__column {
      width: 100%;
    }
  }

  .delivery {
    padding-top: 2rem;
  }
}